<h2>Welcome to Weatherman</h2>
<br>
<ul>
  <li>{{#link-to "today"}}Today's Forecast{{/link-to}}</li>
  <li>{{#link-to "threeDay"}}3-Day Forecast{{/link-to}}</li>
  <li>{{#link-to "week"}}Week Forecast{{/link-to}}</li>
</ul>
<br>
<p>
  {{#link-to "about"}}About{{/link-to}}
</p>
{{outlet}}
